body {
    font-family: Arial, sans-serif;
    background-color: rgb(219, 206, 206);
    /* margin-top: 15%; */
    padding:0;
    /* height: 100vh; */
    margin:0;
    width: 100%;
  }

.bootInput{
    width: 400px;
   
  }
  .bookFlex{
   
    align-items: center;
    
  
  }
  .selectCls{
    padding: 10px;
    margin-top: 8px;
    width: 200px;
    text-align: center;
    border:2px gray solid;
    border-radius: 10px;
    /* margin-left: -16px; */
    }
  
  .bttn{
    width: 20%;
    padding: 12px;
    min-width:fit-content;
    border-radius: 10px;
   
    font-size: 20px;
    position:relative;
    left:40%;
    right:50%;
  }
.bttn:hover{
    
    border: 2px red solid;
  }
  
  .bookingContainer{
   
    background-color: black;
    height:fit-content;
    opacity:0.6;
    width: 100%;
    border-radius: 10px;
    padding: 2%;
    display: block;
   
  
  }
  .flightcontainer
  {
     margin:0;
   
    background-image: url('./images/flight.jpg');
    background-size: cover;
    
    height:100vh;
  }
  
  .navbar
  {
    background-color: white;
    height:fit-content;
    overflow: hidden;
  }
  .ul{
   
    list-style: none;
   
    width:178px;
   
    
  }
  .li{
  
    font-size: 20px;
    
   
  }

  
  .a{
       float:right;
 border: 1px solid rgb(61, 102, 214);
 padding: 5px;
  margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius:5px;
    text-decoration: none;
  }
  .a:hover{
        background-color: rgb(89, 163, 223);
    text-decoration: none;
    color:white;
    border:1px rgb(61,102,214) solid;

  }
  .navname{
    color:black;
    float:left;
    margin-left: 20%;
    font-size: 20px;
   margin-top:10px;
  }
  input {
    margin: 10px 10px;
    text-align: center;
    padding: 10px;
    width: 40%;
    box-sizing: border-box;
    border-radius: 10px;
  }
  h2 {
  
    text-align: center;
    letter-spacing: 5px;
    margin-top: 10px;
    /* color:rgb(226, 226, 33); */
  }
  

  button {
  
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    min-width: 20%;
    margin-top: 10px;
    border-radius: 20px;
  }
  
  button:hover {
    background-color: #218838;
  }