.paymentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   

    background-image: url('./images/confirmpage.jpg');
    background-position: center;
    /* background-repeat: no-repeat; */
}

.paymentForm {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:black;
    opacity:0.6;
    width: 400px;
    text-align: center;
}

.paymentH2 {
    margin-bottom: 20px;
    font-size: xx-large;
    color: bisque;
}

.paymentForm input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.paymentForm button {
    width: 40%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.paymentForm button:hover {
    background-color: #0056b3;
}

.paymentForm h5 {
    color: red;
    margin-top: 15px;
}