/* Container for the entire form */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/register.jpg');
    background-color: #f4f4f4;
    background-size: cover;
    height: 100vh;
}

/* Container for the form elements */
.formContainer {
    background-color: rgba(82, 75, 75, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    width: 450px;
    text-align: center;
}

/* Styling for the input boxes */
.inputBox {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Styling for the submit button */
.submitButton {
    width: 70%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.submitButton:hover {
    background-color: #45a049;
}

/* Success message styling */
.successMessage {
    color: green;
    margin-top: 10px;
}

/* Error message styling */
.errorMessage {
    color: red;
    margin-top: 10px;
}

/* Login link styling */
.loginLink {
    margin-top: 15px;
    color: white;
}

/* Header styling */
.header {
    color: rgb(243, 245, 250);
}

label {
    color: #94cedc;
    display: block;
}


/* Error container styling */
.errorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    margin: 10px auto;
}
